:root {
    --color-primary: #416435;
    --color-primary-highlight: #83c86a;
    --color-background: #e1e2e3;
    --color-grey: #343434;
    --color-grey-light: #696669;
    --color-secondary: #1a3b5c;
    --color-secondary-highlight: #15a6b7;
    --color-text: #0b0c0d;
    --color-text-highlight: #141414;
    
    --font-title: 'Chivo', sans-serif;
    --font-text: 'Roboto', sans-serif;

    --shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}