.SubOptions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    text-decoration: none;
    color: rgb(5, 5, 107);
    padding: 4px 6px;
    font-weight: 600;
    border-radius: 2px;
    padding: 0.3rem;
}

.SubOptions:hover{
    background-color: rgba(66, 66, 66, 0.1);
    color: rgb(35, 35, 150);
}